# Игнорируем папку с исходным кодом (если только она не нужна на GitHub Pages)
src/

# Игнорируем папку для сборки (если она не нужна на GitHub Pages)
build/

# Игнорируем файлы настроек редакторов
.vscode/
.idea/
.DS_Store

# Игнорируем node_modules
node_modules/

# Игнорируем временные файлы
*.log
