.button-list {
    z-index: 7;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.button-item {
    padding: 10px 20px;
    background-color: #EAEAEA;
    color:rgb(19, 19, 19); 
    border: none;
    border-radius: 100px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.button-item.active {
    background-color: #B8EDF4; /* Цвет фона для активной кнопки */
}

.button-item:hover {
    background-color: #cdedf258; 
}

.button-item:active {
    background-color: #B8EDF4; 
}
