/* 
*{
  margin: 0px;
} */

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica Neue/HelveticaNeue-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yomogi';
  src: url('./assets/fonts/Helvetica Neue/Yomogi/Yomogi-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoiretOne';
  src: url('./assets/fonts/Helvetica Neue/Poiret One/PoiretOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213547;
  background-color: white;
}

#root{
  background-color: white;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
